:host {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}

:host[size="huge"] {
  font-size: 3.5rem;
}

.blokoo-name-blo {
  color: var(--brand-primary-color);
}

.blokoo-name-koo {
  color: var(--brand-accent-color);
}

.blokoo-name-dotcom {
  color: var(--accent-background);
  opacity: 0.5;
  font-size: 0.33em;
}
