<div class="bk__flex bk__flex--page bk__flex--vertical-center">

  <h2>Sign in by email</h2>

  <form
    class="boxed"
    [formGroup]="signInByEmailForm"
    (ngSubmit)="onSubmitSignInByEmailForm()"
  >
    <div class="form">
      <input
        type="email"
        placeholder="my@email.com"
        formControlName="email"
        class="bk__input"
      />
      <button
        type="submit"
        class="bk__button bk__button--icon-only"
        [disabled]="!signInByEmailForm.valid"
      >
        <app-icon uid="next" />
      </button>
    </div>
  </form>

  <div class="boxed separator">
    <div class="line"></div>
    <div class="or">OR</div>
    <div class="line"></div>
  </div>

  <h2>Sign in with</h2>

  <div class="boxed buttons">

    <button
      class="bk__button bk__button_social bk__button_social--google"
      (click)="onClickSignInWith('google')"
    >
      <span class="bk__button_text">Google</span>
      <app-icon uid="next" />
    </button>

    <button
      class="bk__button bk__button_social bk__button_social--github"
      (click)="onClickSignInWith('github')"
    >
      <span class="bk__button_text">GitHub</span>
      <app-icon uid="next" />
    </button>

    <button
      class="bk__button bk__button_social bk__button_social--facebook"
      (click)="onClickSignInWith('facebook')"
    >
      <span class="bk__button_text">Facebook</span>
      <app-icon uid="next" />
    </button>

  </div>

</div>
