:root {
  --transparent-color: transparent;
  --brand-primary-color: #0066ff;
  --brand-accent-color: #ff6600;
  --primary-color: #111111;
  --primary-background: #eeeeee;
  --secondary-background: #999999;
  --accent-color: #ffffff;
  --accent-background: #333333;
  --status-success-color: #009900;
  --status-failure-color: #990000;
  --status-warning-color: #ff6600;
  --status-notice-color: #3399ff;
  --font-family: 'Be Vietnam Pro', sans-serif;
  --font-size: 1em;
  --social-google-color: #ea4335;
  --social-github-color: #1a1414;
  --social-facebook-color: #3c5a99;
}
