<div class="bk__flex bk__flex--page bk__flex--vertical-space-evenly">

  <div
    class="bk__flex  bk__flex--boxed bk__flex--boxed-padding step-{{ $step() }}"
    [class.bk__flex--vertical-space-evenly]="$step() === 1"
    [class.bk__flex--vertical-center]="$step() === 2"
  >

    <div class="instructions">
      <h1>Invitation</h1>
      <p *ngIf="$step() === 1">Please select projects</p>
      <p *ngIf="$step() === 2">Please send this link to invite</p>
    </div>

    <ng-container *ngIf="$step() === 1">

      <div *ngIf="$isLoadingProjects()">TODO[nico] LOADING...</div>
      <div class="bk__list project-list">
        <div
          *ngFor="let project of $projects()"
          class="bk__list-item"
          (click)="onClickProject(project)"
        >
          <app-icon
            [uid]="$selectedProject()[project.id] ? 'checkbox-checked' : 'checkbox-unchecked'"
            class="bk__list-item-icon"
            [class.app-icon--color-success]="!!$selectedProject()[project.id]"
            [class.app-icon--color-neutral]="!$selectedProject()[project.id]"
          />
          <span class="bk__list-item-text bk__list-item-text--with-icon">{{ project.name }}</span>
        </div>
      </div>

      <button
        class="bk__button bk__button--page"
        [disabled]="$hasSelection() === false"
        (click)="onClickNext()"
      >
        <span class="bk__button_text">Next step</span>
        <app-icon uid="next" />
      </button>

    </ng-container>

    <ng-container *ngIf="$step() === 2">

      <input
        type="text"
        class="bk__input"
        value="{{ $invitationUrl() || 'Loading...' }}"
        (click)="onClickCopy()"
      />

      <button
        class="bk__button bk__button--page"
        (click)="onClickCopy()"
      >
        <span class="bk__button_text">Copy link</span>
        <app-icon uid="copy" />
      </button>

    </ng-container>
  </div>

</div>
