<div class="bk__flex bk__flex--vertical-space-evenly page-content-home">

  <div>
    <app-blokoo size="huge" />
    <div class="catchphrase">Who needs to do what ?</div>
  </div>

  <div class="bk__flex bk__flex--vertical-center middle">
    <app-logo size="huge" />
    <div class="line line1">YOUR PROJECTS</div>
    <div class="line line2">BLOCKERS IN ONE VIEW</div>
  </div>

  <a
    [routerLink]="['/authentication']"
    class="bk__button bk__button--page"
  >
    <span class="bk__button_text">Let's start</span>
    <app-icon uid="next" />
  </a>

</div>
