.bk__logo {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
}

.bk__logo--huge {
  max-width: 15rem;
  max-height: 15rem;
  width: 100%;
  height: 100%;
}

.bk__logo_svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bk__logo_svg--outer {
  fill: var(--brand-primary-color);
}

.bk__logo_svg--inner {
  fill: var(--brand-accent-color);
  transform: rotateZ(22deg);
}
