.bk__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bk__flex--start {
  align-items: center;
  justify-content: flex-start;
}

.bk__flex--column {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
