.bk__bar {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 2;
  background: var(--accent-background);
}

.bk__bar--header {
  top: 0;
}

.bk__bar--footer {
  bottom: 0;
}

.bk__bar_title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}
