.bk__message {
  width: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 100;
  padding: 1.5rem 0;
  font-weight: bold;
  color: var(--accent-color);
  animation-name: bk__message;
  opacity: 0.9;
}

.bk__message--success {
  background: var(--status-success-color);
}

.bk__message--failure {
  background: var(--status-failure-color);
}

.bk__message--warning {
  background: var(--status-warning-color);
}

.bk__message--notice {
  background: var(--status-notice-color);
}

@keyframes bk__message {
  0% {
    left: 100%;
  }
  10% {
    left: -10%;
  }
  90% {
    left: -15%;
  }
  100% {
    left: -120%;
  }
}
