.bk__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 4rem;
  line-height: 4rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  background: var(--brand-primary-color);
  color: var(--accent-color);
  text-align: left;
  transition: width 250ms ease-out, max-width 250ms ease-out, background 250ms ease-out, color 250ms ease-out;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  position: relative;
  padding: 0 1rem 0 1.5rem;
}

.bk__button:hover {
  background: var(--status-success-color);
}

.bk__button[disabled] {
  cursor: not-allowed;
  color: var(--status-neutral-color);
  background: var(--secondary-background);
}

.bk__button[disabled] app-icon svg {
  fill: var(--status-neutral-color);
}

.bk__button--transparent {
  background: transparent;
}

.bk__button--transparent:hover {
  background: var(--brand-primary-color);
}

.bk__button--icon-only {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  padding: 0;
  justify-content: center;
}

.bk__button--rounded {
  border-radius: 50%;
}

.bk__button_text {
  width: 100%;
  flex-shrink: 1;
}

.bk__button_social {
  width: 90%;
  justify-content: space-between;
  text-align: left;
}

.bk__button_social:hover {
  width: 100%;
}

.bk__button_social--google,
.bk__button_social--google:hover {
  background: var(--social-google-color);
}

.bk__button_social--github,
.bk__button_social--github:hover {
  background: var(--social-github-color);
}

.bk__button_social--facebook,
.bk__button_social--facebook:hover {
  background: var(--social-facebook-color);
}

.bk__button--page {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  z-index: 10;
}

.bk__button--page-actions {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: -1.75rem;
  right: 1.25rem;
  z-index: 3;
  border: solid 1px var(--primary-background);
  box-shadow: 0 0 10px var(--shadow-color);
  transform: rotateZ(0deg);
  transition: transform 250ms ease-out;
}

.bk__button--page-actions-is-open {
  transform: rotateZ(90deg);
}

@media screen and (min-width: 1024px) {

  .bk__button--page {
    position: relative;
    left: 0;
    top: 0;
    width: 50%;
    max-width: 220px;
  }

  .bk__button--page:hover {
    max-width: 300px;
  }
}
