<div class="bk__flex bk__flex--page">

  <div
    class="bk__tab"
    [class.bk__tab--is-active]="$tab() === TabEnum.projectBlockers"
  >

    <div *ngIf="$isLoadingBlockers()">LOADING BLOCKERS...</div>
    <div *ngIf="!$isLoadingBlockers()">
      <app-card-blocker
        *ngFor="let blocker of $blockers()"
        [blocker]="blocker"
      ></app-card-blocker>
    </div>

  </div>

  <div
    class="bk__tab"
    [class.bk__tab--is-active]="$tab() === TabEnum.projectMembers"
  >

    <div *ngIf="$isLoadingMembers()">LOADING MEMBERS...</div>
    <div *ngIf="!$isLoadingMembers()">
      <app-card-member
        *ngFor="let member of $members()"
        [member]="member"
      ></app-card-member>
    </div>

  </div>

  <div
    class="bk__tab"
    [class.bk__tab--is-active]="$tab() === TabEnum.projectSettings"
  >

    <h2>Settings</h2>

  </div>

</div>
