:host {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

:host.app-icon--small {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-svg {
  width: 100%;
  height: 100%;
  transition: fill 250ms ease-out;
  fill: var(--accent-color);
}

:host.app-icon--color-brand .icon-svg {
  fill: var(--brand-primary-color);
}

:host.app-icon--color-success .icon-svg {
  fill: var(--status-success-color);
}

:host.app-icon--color-neutral .icon-svg {
  fill: var(--status-neutral-color);
}
